---
---

@import "{{ site.theme }}"; // @ts-ignore

#main_content_wrap {
    width: 100%;
    overflow: auto;
}
p img {
    object-fit: contain
}

ul, ol {
    margin-bottom: 0px;
}

table img {
    padding: 0px;
    margin: 0 0 0 0;
    border: none;
    background: transparent;
    box-shadow: 0 0 0 #bebebe;
    -webkit-box-shadow: 0 0 0 #bebebe;
}

table {
    width: 90%;
    overflow-x: auto
}

table#pickup-table td {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

table#pickup-table th {
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

#title-text {
    margin: 10px 0;
    font-weight: 700;
    color:#222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-size: 36px;
    font-weight: 700;
}

div#quote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  div#quote p {
    display: inline;
  }