---
---

@import "{{ site.theme }}"; // @ts-ignore

#main_content_wrap {
    width: 100%;
    overflow: auto;
}
p img {
    object-fit: contain
}

ul {
    margin-bottom: 0px;
}

table img {
    padding: 0px;
    margin: 0 0 0 0;
}