---
---

@import "{{ site.theme }}"; // @ts-ignore

#main_content_wrap {
    width: 100%;
    overflow: auto;
}
p img {
    object-fit: contain
}

ul, ol {
    margin-bottom: 0px;
}

table img {
    padding: 0px;
    margin: 0 0 0 0;
    box-shadow: 0 0 0px #ebebeb;
  -webkit-box-shadow: 0 0 0px #ebebeb;
  -moz-box-shadow: 0 0 0px #ebebeb;
  -o-box-shadow: 0 0 0px #ebebeb;
  -ms-box-shadow: 0 0 0px #ebebeb;
}

table {
    width: 90%
    overflow-x: auto
}